@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    width: 100%;
    height: 100%;
}

#__next {
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Space Mono', monospace;
}

/* .ut-bg-blue-600{
    width: 100%;
} */
.ut-flex>div {
    display: none;

}

div.ut-flex>label>span {
    display: none;
}

.ut-hidden {
    width: 100%;
    height: 100%;
}

.ut-flex {
    width: 100%;
    height: 100%;
}

.game-log-title {
    line-height: 29px;
    /* or 133% */

    letter-spacing: 0.06em;

    color: #FDD44E;
    text-shadow: 2px 1px 0px #000000;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.game-title {
    color: #FDD44E;
    text-shadow: 2px 1px 0px #000000;
}